// ──────────────────────────────────────────────────────────────────────────────
// WiFi Credentials — ¡NO SUBIR A GIT!
// ──────────────────────────────────────────────────────────────────────────────
// Copia este archivo a secrets.h y reemplaza con tus credenciales reales.
// Luego compila con PlatformIO. El archivo secrets.h está en .gitignore.
// ──────────────────────────────────────────────────────────────────────────────
#pragma once

#ifndef DEFAULT_WIFI_SSID
#define DEFAULT_WIFI_SSID "MyWiFi"
#endif

#ifndef DEFAULT_WIFI_PASS
#define DEFAULT_WIFI_PASS "asd369/*"
#endif
